
<div class="row my-3">
  <div class="col-md-6">
    <h2>Create new Product</h2>
  </div>
  <div class="col-md-6 text-right">
    <a routerLink="/" class="btn btn-default btn-sm">
      <i class="fa fa-arrow-left"></i> Back to list of products
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-8 mx-auto">
      <div class="form-group">
       <label for="Name">Name</label>
       <input required minlength="3" #name="ngModel" id="Name" name="name" [(ngModel)]="product.name" type="text" class="form-control">
<div class="alert alert-danger" *ngIf="name.invalid && name.touched">
  
  <div *ngIf="name.errors.required">ce champ est obligatoire !</div>
  <div *ngIf="name.errors.minlength">ce champ doit avoir au moins 3 Caracteres !</div>

</div>
      </div>

      <div class="form-group">
          <label for="Description">Description</label>
          <textarea required #description="ngModel" id="Description" name="description" [(ngModel)]="product.description" type="text" class="form-control"></textarea>
<div class="alert alert-danger" *ngIf="description.invalid && description.touched">
    <div *ngIf="description.errors.required">ce champ est obligatoire !</div>
</div>
      </div>

      <div class="form-group">
          <label for="Price">Price</label>
          <input required #price="ngModel" id="Price" name="price" [(ngModel)]="product.price" type="number" class="form-control">
          <div class="alert alert-danger" *ngIf="price.invalid && price.touched">
              <div *ngIf="price.errors.required">ce champ est obligatoire !</div>
          </div>
      </div>

      <div class="form-group">
          <label for="Quantity">Quantity</label>
          <input required #quantity="ngModel" id="Quantity" name="quantity" [(ngModel)]="product.quantity" type="number" class="form-control">
          <div class="alert alert-danger" *ngIf="quantity.invalid && quantity.touched">
              <div *ngIf="quantity.errors.required">ce champ est obligatoire !</div>
          </div>         
      </div>

      <button class="btn btn-success btn-block" (click)="createProduct()">
        <i class="fa fa-send"></i> Add
      </button>
    
  </div>
</div>